<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaththi Sandai</title>
    <link rel="stylesheet" href="static/main_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="intro-container">
        <div class="sword-box">
            <div class="sword left-sword"></div>
            <div class="sword right-sword"></div>
        </div>

        <header class="hero-section">
            <h1 class="main-title">KATHTHI <span class="accent">SANDAI</span></h1>
            <p class="tagline">Master the Wisdom. Win the Glory.</p>
        </header>
        
        <div class="auth-container">
        <div id="g_id_onload"
     data-client_id="774096781740-opceq1v2ntvt1rffsd3se0n68i4olan5.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="http://localhost:5000/auth/google-callback"
     data-auto_prompt="false"></div>
     <div class="g_id_signin" data-type="standard">
            <button class="btn google-btn">
                <span><h1>G</h1></span>Continue with Google
            </button>
            </div>
            <div class="divider"><span>OR</span></div>
            <form class="email-form" action="login">
                <button  class="btn email-btn">Login In</button>
            </form>
        </div>
    </div>
</body>
</html>
<script src="https://accounts.google.com/gsi/client" async defer></script>


</div>

